eager-online-status-app-status-indicator {
  display: block;
  cursor: default;
  position: fixed;
  font-family: inherit;
  font-size: .8em;
  bottom: 1.25em;
  left: 1.25em
}

eager-online-status-app-status-indicator[is-online]:not([show-when-online]) {
  display: none
}

eager-online-status-app-status-indicator:before, eager-online-status-app-status-indicator:after {
  font-family: inherit;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  height: 100%
}

eager-online-status-app-status-indicator:before {
  content: '';
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  box-sizing: border-box;
  border: .25em solid white;
  box-shadow: 0 0 .3125em rgba(0, 0, 0, .6);
  background: #f00
}

eager-online-status-app-status-indicator[is-online]:before {
  background: #5cca00
}

eager-online-status-app-status-indicator:not(:hover):after {
  opacity: 0
}

eager-online-status-app-status-indicator:after {
  content: 'Offline';
  pointer-events: none;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: .06em;
  margin-left: .6em;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  font-size: .8em;
  font-weight: bold
}

eager-online-status-app-status-indicator[is-online]:after {
  content: 'Online'
}
